{% extends "base.html" %}
{% load bootstrap3 %}
{% block body_block %}
<h1>Login Page!</h1>
<div class="jumbotron">
<form method="POST">
    {% csrf_token %}
    {% for message in messages %}

                    <div class="alert alert-warning">
                        <a class="close" href="{% url 'account:doc_user_login' %}" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}
    <label for="username">USERNAME</label>
    <input type="text" id="username" name="username" placeholder="Enter your username">
    <label for="password">PASSWORD</label>
    <input type="password" id="password" name="password" placeholder="Enter your password">
    <input type="submit" class="btn btn-primary" value="Login">
</form>
    </div>
{% endblock %}